services:
  graphlab:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.graphlab.tls=true"
      - "traefik.http.routers.graphlab.service=graphlab-service"
      - "traefik.http.routers.graphlab.entrypoints=web,websecure"
      - "traefik.http.routers.graphlab.middlewares=graphlab-stripprefix"
      - "traefik.http.routers.graphlab.rule=Host(`portail.terra-numerica.org`) && PathPrefix(`/graphlab`)"
      - "traefik.http.services.graphlab-service.loadbalancer.server.port=3000"
      - "traefik.http.middlewares.graphlab-stripprefix.stripprefix.prefixes=/graphlab"
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ./.env:/app/.env
    networks:
      - traefik

networks:
  traefik:
    external: true