services:
  graphlab:
    build: ./backend
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.graphlab.rule=Host(`portail.terra-numerica.org`) && PathPrefix(`/graphlab`)"
      - "traefik.http.middlewares.graphlab-stripprefix.stripprefix.prefixes: /graphlab"
      - "traefik.http.routers.graphlab.entrypoints=web, websecure"
      - "traefik.http.routers.graphlab.service=graphlab-backend-service"
      - "traefik.http.services.graphlab-service.loadbalancer.server.port=3000"
      - "traefik.http.routers.graphlab.tls=true"
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ./.env:/app/.env
    networks:
      - traefik

networks:
  traefik:
    external: true