/* Boruvka-specific styles */
.boruvka-component {
    background-color: #9b59b6 !important;
    border-width: 2px !important;
    border-color: #8e44ad !important;
}

.boruvka-selected {
    background-color: #2ecc71 !important;
    border-width: 2px !important;
    border-color: #27ae60 !important;
}

.boruvka-edge {
    background-color: #2ecc71 !important;
    width: 2px !important;
    border-color: #27ae60 !important;
}

.boruvka-min-edge {
    background-color: #e67e22 !important;
    width: 2px !important;
    border-color: #d35400 !important;
} 