.footer {
  background-color: var(--darkBlue);
  color: white;
  padding: 1rem;
  text-align: center;
  margin-top: auto;
  font-size: 1rem;
  font-family: 'Poppins', Arial, sans-serif;
}

.footer p {
  margin: 0;
}

@media (max-width: 768px) {
  .footer {
    padding: 0.7rem;
    font-size: 0.95rem;
  }
  .footer p {
    font-size: 0.85rem;
  }
} 